<header>
  <div class="header-logo">
    <a href="/">Top</a>
  </div>
</header>


<div class="determined_key">
    <h2><%= @determined_key %>の可能性が高いです</h2>
</div>




<%= @key %>
<%= form_tag("/songlist/add_key") do %>
    <div class="list_link">
    <form method="post" action="/songlist/add_key">
      <label for="email">曲名を入力</label>
      <input type="hidden" name="key" value="<%= @determined_key %>" />
      <input type="text" name="song_title" id="song_title">
      <button type="submit">リストに追加</button>
    </form>
</div>
<% end %>
