<header>
  <div class="header-logo">
    <a href="/">Top</a>
  </div>
</header>

<div class="keycheck_title">
  <h3>Song List</h3>
</div>

<div class="index-content">
    <table class="songlist_table", border="1">
      <% @songs.each do |song| %>
        <tr>
          <div class="songs-index-item">
            <td><%= song.song_title %></td>
            <td><%= song.keys %></td>
            <td><%= link_to("削除", "/songlist/#{song.id}/destroy", {method: "post"}) %></td>
          </div>
        </tr>
      <% end %>
    </table>
</div>